.Collection {
  width: 85%;
  margin: auto;

  .itemsContainer {
    display: flex;
    flex-wrap: wrap;
    
    .CollectionItem {
      flex-basis: 25%;
      @media (max-width: 800px) {
        & {
          flex-basis: 50%;
        }
      }

      @media (max-width: 450px) {
        & {
          flex-basis: 100%;
        }
      }
    }
  }
}
